* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 550px;
  background-color: red;
}

.header-top {
  width: 100%;
  height: 50px;
  background-color: red;
}

.header-bottom {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.boxes {
  width: 960px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
}

.box1 {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.box2 {
  width: 500px;
  height: 1400px;
  background-color: limegreen;
}

.box3 {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}
